[submodule "nvim"]
	path = nvim
	url = git@github.com:mirrorwalk/nvim-config.git
[submodule "nixos"]
	path = nixos
	url = git@github.com:mirrorwalk/nixos.git
[submodule "nixos-private"]
	path = nixos-private
	url = git@github.com:mirrorwalk/nixos-private.git
